<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="promoService" class="it.academy.service.PromoService"
          factory-method="create"
          init-method="init"
          destroy-method="destroy">
        <property name="name" value="promoService"/>
        <property name="promoDao" ref="promoDaoImpl"/>
    </bean>

    <bean id="promoDaoImpl" class="it.academy.dao.PromoDaoImpl">
        <constructor-arg value="true"/>
    </bean>
</beans>